/* docs/stylesheets/extra.css */
/* h1 {
  color: #ff7f50;
}

a {
  color: #00ffff;
} */

/* Make header logo round */
.md-header__button.md-logo img {
  border-radius: 10%;
}


/* Footer styling */
.md-footer-meta__inner {
  display: flex;
  justify-content: center;  /* center items horizontally */
  align-items: center;      /* center vertically */
  gap: 40px;                /* small gap between text and icons */
  padding: 0.5em 1em;
  font-size: 0.85em;
  line-height: 1.3;
  color: #9ca3af;
  flex-wrap: wrap;          /* wrap on small screens if needed */
}

.md-footer-social {
  display: flex;
  align-items: center;
}


/* Left side copyright text */
.md-footer-copyright {
  color: #9ca3af;
  margin: 0;
  font-size: 1em;
}

/* Link styling */
.md-footer-copyright a {
  color: #9ca3af;
  text-decoration: underline;
  font-size: 1em;
}

.md-footer-copyright a:hover {
  color: #ffffff; /* brighten on hover */
}

/* Social icon styling */
.md-footer-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
  margin-left: 15px;
  transition: color 0.2s;
}

.md-footer-social a:hover {
  color: #ffffff;
}

/* SVG icons size */
.md-footer-social svg {
  width: 18px; /* slightly smaller */
  height: 18px;
}

